
 <h2>ログイン</h2>

  <% if flash[:alert] %>
    <% resource.errors.add(:base, flash[:alert]) %>
  <% end %>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "auth-form" }) do |f| %>
    <% if resource.errors.any? %>
      <div class="error-messages">
        <ul>
          <% resource.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= f.label :email, "メールアドレス" %><br />
      <%= f.email_field :email, required: true, placeholder: "メールアドレスを入力してください" %>
    </div>

    <div class="field">
      <%= f.label :password, "パスワード" %><br />
      <%= f.password_field :password, required: true, placeholder: "パスワードを入力してください" %>
    </div>

    <div class="actions">
      <%= f.submit "ログイン", class: "custom-button" %>
    </div>
  <% end %>

  <div class="links">
    <%= render "devise/shared/links" %>
  </div>
</div>
